[user]
	name = kamal-ezz
	email = ezzarmou.kamal@gmail.com
[init]
	defaultBranch = main
[includeIf "gitdir:/home/kamal/Projects/imedia24/"]
	path = /home/kamal/.gitconfig-imedia24
[includeIf "gitdir:/home/kamal/Projects/imedia24/**"]
	path = /home/kamal/.gitconfig-imedia24
